<div class="jumbotron">
	<h1>Sringeri Vidhya Bharati Foundation</h1>
	<p>Farmington Hills, Michigan</p>
</div> 

<h1>Event Calendar</h1>
<div class="well" id='calendar'></div>

<script type='text/javascript'>
	$(document).ready(function() {
	  $("#calendar").fullCalendar(
	    events: '/events.json'
	  )
	});
</script>