<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Disclaimer</h4>
      </div>
      <div class="modal-body">
        The names and contact information on this Web site are published to facilitate contact with those listed for SVBF purposes only. It is not intended, and we request that they not be used, for any other purposes.<br><br>

        SVBF maintains this Web site to enhance public access to information on the organization’s activities. This is a service that is continually under development. We will make every effort to keep this site current and to correct errors brought to our attention. Care has been taken in the compilation of this web site. While every reasonable effort is made to ensure that the information provided on this site is accurate, no guarantees for the currency or accuracy of information are made. In no event will SVBF be liable for any loss, damage or inconvenience including, without limitation, indirect or consequential loss or damage, or any loss or damages whatsoever arising from use or loss of use of, data or profits arising out of or in connection with the use of SVBF’s website.<br><br>

        All programs listed in the site are subject to change without further notice<br>

        Parents are responsible for the children. SVBF is not responsible for any loss, damage or injuries on the temple premises.<br><br>

        Links to external, or third party Web sites, are provided solely for visitors’ convenience. Links taken to other sites are done so at your own risk and SVBF accepts no liability for any linked sites or their content. When you access an external Web site, keep in mind that SVBF has no control over its content.<br><br>

        Any link from SVBF to an external Web site does not imply or mean that SVBF endorses or accepts any responsibility for the content or the use of such Web site. SVBF does not give any representation regarding the quality, safety, suitability, or reliability of any external Web sites or any of the content or materials contained in them. It is important for users to take necessary precautions, especially to ensure appropriate safety from viruses, worms, Trojan horses and other potentially destructive items.<br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
